<!DOCTYPE html>
<html>
<head>
    <meta charset="UTF-8">
    <title>Назва документу</title>
    <link href="/lib/bootstrap/dist/css/bootstrap.min.css" rel="stylesheet" />
</head>

<body>
    @RenderBody()
</body>

</html>