@model IEnumerable<WebATB.Data.Entities.CategoryEntity>

<h1 class="text-center">Категорії</h1>

<a asp-action="Create" class="btn btn-success">Додати</a>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">Назва</th>
            <th scope="col">Slug</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var category in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>
                    <img src="@category.Image" 
                        alt="Фото категорії" 
                        style="width: 100px; height: auto;" /> 
                </td>
                <td>@category.Name</td>
                <td>@category.Slug</td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger" 
                        asp-route-id="@category.Id">
                        Видалити
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>
