@using WebATB.Models.Users
@model List<UserItemModel>
@{
    Layout="MainLayout"; // Не використовуємо Layout
}
<h1 class="text-center">Список користувачів</h1>

<a asp-action="Create" class="btn btn-success">Додати</a>

<table class="table table-dark">
    <thead>
        <tr>
            <th scope="col">#</th>
            <th scope="col">Фото</th>
            <th scope="col">ПІБ</th>
            <th scope="col">Телефон</th>
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach(var user in Model)
        {
            <tr>
                <th scope="row">1</th>
                <td>
                    <img src="/images/@user.Image" 
                        width="150"
                        alt="@user.Name" />
                </td>
                <td>@user.Name</td>
                <td>@user.Phone</td>
                <td>
                    <a asp-action="Delete" class="btn btn-danger" 
                        asp-route-id="@user.Id">
                        Видалити
                    </a>
                </td>
            </tr>
        }
    </tbody>
</table>


